.top{
    background-color: white;
    height: 50px;
    width: 100%; 
    top: 0;
    left: 0;
    position: fixed;
  }
  .top2{
    background-color: rgb(77, 200, 217);
    height: 6px;
    width: 100%;
    top: 6.9%;
    left: 0;
    position: fixed;
  }
  .top3{
    background-color: rgb(122, 122, 122);
    height: 35px;
    width: 100%;
    top: 7.9%;
    left: 0;
    position: fixed;
  }
  .topText{
    margin-left: 100px;
    font-size: 1.7em;
    margin-top: 9px;
    font-family: Roboto;
  }