body{
  background-color: rgb(234, 233, 233);
}
.top{
    background-color: white;
    height: 50px;
    width: 100%; 
    top: 0;
    left: 0;
    position: fixed;
  }
  .top2{
    background-color: rgb(77, 200, 217);
    height: 6px;
    width: 100%;
    top: 6.9%;
    left: 0;
    position: fixed;
  }
  .top3{
    background-color: rgb(122, 122, 122);
    height: 35px;
    width: 100%;
    top: 7.9%;
    left: 0;
    position: fixed;
  }
  .prevPage{
    height: 40px;
    width: 40px;
    background-color: rgb(202, 202, 202);
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 5px;
  }
  .nextPage{
    height: 40px;
    width: 40px;
    background-color: rgb(53, 115, 207);
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  .bodyDiv{
    background-color: rgb(180, 180, 180);
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1000px;
  }