.mainMachine{
    background-color: rgb(155, 158, 155);

    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 700px;
    border: 5px outset black;
}
.title{
    border: 5px outset black;
    background-color: rgb(94, 94, 94);
    text-align: center;
}
.slots{
    padding: 50px;
    margin-top: 10px;
    display: flex;
}
.slot1{
    padding: 20px;
    height: 150px;
    width: 85px;
    border: 5px outset black;
    font-size: 2.5em;
}
.slot2{
    padding: 20px;
    height: 150px;
    width: 85px;
    border: 5px outset black;
    font-size: 2.5em;
}
.slot3{
    padding: 20px;
    height: 150px;
    width: 85px;
    border: 5px outset black;
    font-size: 2.5em;
}
.bottom{
    background-color: rgb(94, 94, 94);
    border: 5px inset black;
    width: 491px;
    height: 275px;
}
.gambleButton{
    margin-top: 20px;
    width: 125px;
    height: 62.5px;
    margin-left: 70px;
}
.controlPannel{
    background-color: rgb(106, 108, 106);
    height: 100px;
    text-align: center;
}
.showMoney{
    margin-left: 30px;
    display: inline-block;
}
.betAmount{
    height: 50px;
    width: 50px;
    margin-left: 10px
}
