body{
    background-color:rgb(145, 213, 225);
}
.GoFishDiv{
    position: absolute;
    text-align: center;
    margin-top: 29%;
    border: 2px black solid;
    width: 20%;
    margin-left: 40%;
    margin-top: 300px;
    opacity: 100%;
    border-radius: 100%;
}
#FishButton{
    height: 60px;
    width: 100px;
    background-image: url(Rod.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
}
.container{
    position: relative;
    text-align: center;
}
.TopDiv{
    text-align: center;
    margin-top: 6%;
}
#ResultText{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 1.5px black;
}
.FishdexShop{
    position: absolute;
    border: 4px black solid;
    height: 500px;
    width: 700px;
    margin-bottom: 100px;
    margin-left: 25%;
    border-radius: 2%;
    opacity: 0%;
}
.InnerFishdex{
    position: relative;
    background-color: rgb(90, 167, 230);
    width: 700px;
    height: 435px;
    margin-top: 60px;
    margin-left: -4px;
    border: 4px black solid;
    border-radius: 2%;
    opacity: 100%;
}
#Sell{
    margin-top: -55.3%;
    opacity: 0%;
    position: relative;
    overflow: hidden;
}
#Shop{
    margin-top: -47.8%;
    opacity: 0%;
    position: relative;
    overflow: hidden;
}
#Inventory{
    opacity: 100%;
    position: relative;
}
#OpenShop{
    height: 65px;
    width: 130px;
    font-size: 1.34em;
    border-radius: 10%;
    margin-top: 25%;
    margin-right: 90%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(145, 211, 255);
}
#CloseShop{
    height: 65px;
    width: 130px;
    font-size: 1.34em;
    border-radius: 10%;
    margin-right: 90%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(145, 211, 255);
    margin-top: 1%;
    opacity: 0%;
}
#SectionOne{
    position: absolute;
    margin-top: -18px;
    margin-right: 83%;
}
#SectionTwo{
    position: relative;
    margin-right: 58%;
    margin-top: 4%;
}
#SectionThree{
    position: relative;
    margin-right: 25%;
    margin-top: -34%;
}
#SectionFour{
    position: relative;
    margin-right: -50px;
    margin-top: -45.4%;
}
#SectionFive{
    position: relative;
    margin-right: -300px;
    margin-top: -17%;
}
.CommonFish{
    color: grey;
}
.UncommonFish{
    color: rgb(84, 223, 114);
}
.RareFish{
    color: rgb(54, 54, 220);
}
.ReallyRareFish{
    color: rgba(0, 0, 131, 1);
}
.UltraRareFish{
    color: rgba(131, 37, 185, 1);
}
.GodlyFish{
    color: rgba(155, 160, 9, 1);
}
.UngodlyFish{
    color: rgba(255, 234, 0, 1);
}
.TheFish{
    color: rgba(255, 0, 0, 1);
}
#MoneyText{
    position: absolute;
    margin-left: 80%;
    margin-top: 2%;
    color: rgb(0, 255, 0);
}
#MoneyTextTwo{
    position: absolute;
    margin-left: 80%;
    margin-top: 5%;
    color: rgb(0, 255, 0);
}
#MoneyTextThree{
    position: absolute;
    margin-left: 80%;
    margin-top: 5%;
    color: rgb(0, 255, 0);
}
#BackpackSpaceText{
    position: absolute;
    margin-left: 4%;
    margin-top: 2%;
    color: rgb(77, 77, 77);
}
#BackpackSpaceTextTwo{
    position: absolute;
    margin-left: 4%;
    margin-top: 5%;
    color: rgb(77, 77, 77);
}
#BackpackSpaceTextThree{
    position: absolute;
    margin-left: 4%;
    margin-top: 5%;
    color: rgb(77, 77, 77);
}
button:hover {
  cursor: pointer; /* Changes cursor to a hand pointer on hover */
}
#ToSell{
    margin-left: -70%;
    background-color: greenyellow;
    border-radius: 20%;
    position: relative;
}
#ToInv{
    margin-left: -0.5%;
    background-color: greenyellow;
    margin-top: 0.5%;
    border-radius: 20%;
    position: relative;
    
}
#ToShop{
    margin-left: -0.5%;
    background-color: greenyellow;
    margin-top: 0.5%;
    border-radius: 20%;
    position: relative;
    
}
